* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-color: rgba(4, 0, 24, 1);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bground {
    width: 110vw;
    height: 110vh;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    background-image: url('media/brainstorm.jpg');
    background-size: cover;
    transition: all 100ms;
    opacity: 0.4;
}

.container {
    white-space: nowrap;
    position: relative;
    z-index: 2;
    color: white;
    background-color: rgba(4, 0, 24, 0.9);
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.container p:first-child {
    font-size: 25px;
    letter-spacing: 3px;
}

.container p:nth-of-type(2) {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 200%;
}

.container p span {
    font-weight: bold;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(4, 0, 24, 0.9);
    position: absolute;
    margin-top: -20px;
    top: 50vh;
    left: 320px;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isClicked {
    margin-top: 0;
    top: 0;
    left: 310px;
    border-radius: 0px;
    background-color: rgba(12, 6, 43, 0.9);
}

.button:hover {
    background-color: rgba(22, 13, 68, 0.9);
}

.fonticon {
    font-size: 30px;
    transition: all 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotation {
    transform: rotate(180deg);
}

.sidebox {
    background-color: rgba(4, 0, 24, 0.9);
    width: 310px;
    color: white;
    position: fixed;
    bottom: 0px;
    left: -310px;
    z-index: 2;
    padding: 30px;
    height: 100vh;
    transition: left 200ms;
}

.isHidden {
    bottom: 0px;
    left: 0px;
}

.sidebox p.info {
    padding-left: 30px;
}

.sidebox p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 200%;
}

.sidebox p.title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}