* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 0.1rem;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #348cb2;
    position: relative;
}

.middle-box {
    text-align: center;
    width: 100%;
    margin-top: -300px;
    z-index: 999;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

p {
    font-weight: 70;
    font-size: 28px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    animation: show 0.5s ease-in-out forwards;
    border: solid 1px white;
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear;
}

.nav-item a {
    color: white;
    outline: 0;
    text-decoration: none;
    font-size: 28px;
}

.nav-item:hover {
    cursor: pointer;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0.175);
}

.bg {
    background: url("https://image.ibb.co/hmyUDS/bg.jpg") repeat-x bottom left;
    height: 100%;
    position: absolute;
    background-size: 2250px;
    width: 6750px;
    z-index: 1;
    animation: bg 60s linear infinite;
}

@keyframes bg {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2250px);
    }
}

@keyframes show {
    0% {
        transform: translate(0, 16px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}