body {
    background-color: gray;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 48px;
}

a:link {
    color: white;
    font-weight: bold;
}

a:visited {
    color: blue;
}

a:hover {
    color: rgb(168, 168, 168);
}

a:active {
    font-size: 15px;
}